@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}

/* PROGRESS BAR */
/* ProgressBar Styles */
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  background-color: #0044ad; /* customize color */
  transition: width 0.2s ease-out;
  box-shadow: 0 0 10px #0044ad, 0 0 5px #0044ad;
  border-radius: 1px;
}
.progress-bar {
  opacity: 1;
  transition: width 0.2s ease-out, opacity 0.3s ease;
}

.progress-wrapper:not(:has(.progress-bar)) .progress-bar {
  opacity: 0;
}
